#footer_cravetickets {
	padding: 10px 0;
	text-align: center;
}

div#title {
	text-align: center;
	font-size: 24px;
	font-weight: bold;
}

div.middle {
	text-align: center;
}

div.middle #welcome {
	padding: 10px 0;
	text-align: center;
	text-decoration: underline;
	font-weight: bold;
}

/*	Slide Movements	*/
.slide.in {
	    -webkit-transform: translateX(0);
	    -webkit-animation-name: slideinfromleft;
	}

.slide.out {
    -webkit-transform: translateX(-100%);
    -webkit-animation-name: slideouttoright;
}

.ui-icon-purchase {
	background: url('/templates/scanner/images/credit_card.png') no-repeat;
    -moz-border-radius: 0px;
    -webkit-border-radius:0px;
    border-radius:0px;
	background-color: transparent;
	box-shadow: none;
	width: 28px;
	height: 28px;
}