.full-screen {
	width: 320px;
	height: 480px;
}
.top {
	height: 30px;
	background-color: black;
}
.middle {
	height: 360px;
	padding: 20px;
	font-size: 18px;
}
.bottom_navigation {
	height: 50px;
	background-color: black;
}
.bottom_navigation div.tab > a {
	color:orange;
	display:inline-block;
	padding: 17px 15px;
}
a {
	text-decoration: none;
}
div.bottom_navigation ul {
	list-style-type:none;
	margin:0;
	padding:0;
	width: 320px;
}
div.bottom_navigation ul li{
	list-style-type:none;
	margin:0;
	padding:0;
	display:inline;
	float:left;
	width: 80px;
}
div.bottom_navigation ul li > a{
	color: orange;
	display:block;
	text-align: center;
	padding:17px 0px;
}
div.bottom_navigation ul li > a#activated {
	background-color:#999;
	color:black;
}
a#back_button {
	position:relative;
	top:5px;
	left:15px;
	color: red;
}

#coming_soon {
	color: #333333;
	height:100%;
	width:100%;
	font-size:24px;
	padding: 120px 0;
}