/*.full-screen {
	width: 320px;
	height: 480px;
}*/
/*.top {
	height: 30px;
	background-color: black;
}*/
/*.middle {
	height: 360px;
	padding: 20px;
	font-size: 18px;
}*/
/*.footer_navigation {
	height: 50px;
	background-color: black;
}
.footer_navigation div.tab > a {
	color:orange;
	display:inline-block;
	padding: 17px 15px;
}*/
/*a {
	text-decoration: none;
}*/
/*div#footer_navigation ul {
	list-style-type:none;
}
div#footer_navigation ul li{
	display:inline;
	float:left;
}*/
/*div.footer_navigation ul li > a{
	color: orange;
	display:block;
	text-align: center;
	padding:17px 0px;
}
div.footer_navigation ul li > a#activated {
	background-color:#999;
	color:black;
}*/
/*a#back_button {
	position:relative;
	top:5px;
	left:15px;
	color: red;
}*/

#footer_cravetickets {
	padding: 10px 0;
	text-align: center;
}

footer nav li a#Purchase span.purchase {
	background: url('/cms/templates/scanner/images/credit_card.png') 50% 50% no-repeat;
	background-size: 24px 24px;
	z-index: 15;
}

#coming_soon {
	color: #333333;
	height:100%;
	width:100%;
	font-size:24px;
	padding: 120px 0;
}